body {
    font-family: "ヒラギノ角ゴ","メイリオ",sans-serif;
    line-height: 1.6;
    color: #00000000;
    background: #ffffff;
}

.block {
    background: #c28222; 
    border-left: 3px solid #dbd3d3;     
    padding: 12px 16px;
    margin-bottom: 16px;
}