.block {
    border-left: 3px solid #ae97e3;     
    padding: 12px 16px;
    margin-bottom: 16px;
}
h2{
    background-color: #4da6ef54;
}
.time{
    background-color: #b8d5ed54;
}
h1{
    color: #192ecfc5;
}